<header class="m-grid__item    m-header "  data-minimize-offset="200" data-minimize-mobile-offset="200" >
  <div class="m-container m-container--fluid m-container--full-height">
    <div class="m-stack m-stack--ver m-stack--desktop">
      <!-- BEGIN brand -->
      {% include "_brand.html" %}
      <!-- END brand -->
      <div class="m-stack__item m-stack__item--fluid m-header-head" id="m_header_nav">
        <!-- BEGIN header left -->
        {% include "_header_left.html" %}
        <!-- END header left -->               
        <!-- BEGIN header right -->
        {% include "_header_right.html" %}
        <!-- END header right -->
      </div>
    </div>
  </div>
</header>