<div id="m_header_topbar" class="m-topbar  m-stack m-stack--ver m-stack--general">
  <div class="m-stack__item m-topbar__nav-wrapper">
    <ul class="m-topbar__nav m-nav m-nav--inline">
      <!-- BEGIN Twitter link -->
      <li class="m-nav__item m-topbar__quick-actions m-topbar__quick-actions--img m-dropdown m-dropdown--large m-dropdown--header-bg-fill m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push m-dropdown--mobile-full-width m-dropdown--skin-light">
        <a href="#" class="m-nav__link">
          <span class="m-nav__link-icon">
            <i class="fa fa-twitter"></i>
          </span>
        </a>
      </li>
      <!-- END Twitter link -->
      <!-- BEGIN Pocket link -->
      <li class="m-nav__item m-topbar__quick-actions m-topbar__quick-actions--img m-dropdown m-dropdown--large m-dropdown--header-bg-fill m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push m-dropdown--mobile-full-width m-dropdown--skin-light">
        <a href="#" class="m-nav__link">
          <span class="m-nav__link-icon">
            <i class="fa fa-get-pocket"></i>
          </span>
        </a>
      </li>
      <!-- END Pocket link -->
      <!-- BEGIN Github link -->
      <li class="m-nav__item m-topbar__quick-actions m-topbar__quick-actions--img m-dropdown m-dropdown--large m-dropdown--header-bg-fill m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push m-dropdown--mobile-full-width m-dropdown--skin-light">
        <a href="#" class="m-nav__link">
          <span class="m-nav__link-icon">
            <i class="fa fa-github"></i>
          </span>
        </a>
      </li>
      <!-- END Github link -->
      <!-- _quick_sidebar_toggle goes here -->
    </ul>
  </div>
</div>