<button class="m-aside-left-close m-aside-left-close--skin-dark" id="m_aside_left_close_btn">
  <i class="la la-close"></i>
</button>
<div id="m_aside_left" class="m-grid__item  m-aside-left  m-aside-left--skin-dark ">
  <!-- BEGIN sidebar menu -->
  <div id="m_ver_menu" 
    class="m-aside-menu  m-aside-menu--skin-dark m-aside-menu--submenu-skin-dark m-aside-menu--dropdown">
    <ul class="m-menu__nav  m-menu__nav--dropdown-submenu-arrow ">
      {% for num in range(design.sidebar_items|length) %}
      <li class="m-menu__item  {% if num == 0 %}m-menu__item--active{% endif %}" aria-haspopup="true" >
        <a  href="#" id="sidebar_{{ design.sidebar_items[num].slug }}" class="m-menu__link">
          <span class="m-menu__item-here"></span>
          <i class="m-menu__link-icon {{ design.sidebar_items[num].icon }} "></i>
          <span class="m-menu__link-text">
            {{ design.sidebar_items[num].title }} 
          </span>
        </a>
      </li>
      {% endfor %}

    </ul>
  </div>
  <!-- END sidebar menu -->
</div>