<!-- BEGIN announcement widget -->
<div class="m-portlet m--bg-danger m-portlet--bordered-semi m-portlet--skin-dark m-portlet--full-height ">
  <!-- BEGIN widget header -->
  <div class="m-portlet__head">
    <!-- END widget header left -->
    <div class="m-portlet__head-caption">
      <div class="m-portlet__head-title">
        <h3 class="m-portlet__head-text">
          { WIDGET TITLE }
        </h3>
      </div>
    </div>
    <!-- END widget header left -->
    <!-- BEGIN widget header right -->
    {% include "_x_header_right_dropdown.html" %}
    <!-- END widget header right -->
  </div>
  <!-- END widget header -->
  <!-- BEGIN widget body -->
  <div class="m-portlet__body">
    <div class="m-widget7 m-widget7--skin-dark">
      <div class="m-widget7__desc">
        { WIDGET TEXT }
      </div>
      <div class="m-widget7__user">
        <div class="m-widget7__user-img">
          <img class="m-widget7__img" src="{ WIDGET IMG SOURCE }" alt="">
        </div>
        <div class="m-widget7__info">
          <span class="m-widget7__username">
            { WIDGET AUTHOR NAME }
          </span>
          <br>
          <span class="m-widget7__time">
            { WIDGET TIMESTAMP }
          </span>
        </div>
      </div>
      <div class="m-widget7__button">
        <a class="m-btn m-btn--pill btn btn-accent" href="#" role="button">
          { WIDGET BUTTON TEXT }
        </a>
      </div>
    </div>
    <!-- END widget body -->
  </div>
</div>
<!-- END announcement widget -->