<div class="m-portlet m-portlet--half-height m-portlet--border-bottom-{{ widget.data[0].color_class }} m-portlet--rounded-force" style="margin-bottom: 10px !important;">
  <div class="m-portlet__body" style="padding: 0 !important; margin-top: 80px; margin-bottom: -40px;">
    <div class="m-widget19">
      <div class="m-widget19__pic m-portlet-fit--top m-portlet-fit--sides" style="min-height-: 170px">
        <img src="{{ widget.data[0].img_url }}" alt="">
        <h3 class="m-widget19__title m--font-light">
        </h3>
        <div class="m-widget19__shadow"></div>
      </div>
    </div>
  </div>
</div>


  <div style="width: 100%">
      <img class="img-responsive" url="{{ widget.data[0].img_url }}">
  </div>
