<div class="m-portlet m-portlet--full-height m-portlet--fit ">
  <div class="m-portlet__head">
    <div class="m-portlet__head-caption">
      <div class="m-portlet__head-title">
        <h3 class="m-portlet__head-text">
          { WIDGET NAME }
        </h3>
      </div>
    </div>
    <!-- BEGIN widget header right -->
    {% include "_x_header_right_dropdown.html" %}
    <!-- END widget header right -->
  </div>
  <div class="m-portlet__body">
    <div class="m-widget4 m-widget4--chart-bottom" style="min-height: 350px">
      <!-- BEGIN widget list item -->
      <div class="m-widget4__item">
        <div class="m-widget4__ext">
          <a href="#" class="m-widget4__icon m--font-brand">
            <i class="{ WIDGET ICON }"></i>
          </a>
        </div>
        <div class="m-widget4__info">
          <span class="m-widget4__text">
            { WIDGET ITEM NAME }
          </span>
        </div>
        <div class="m-widget4__ext">
          <span class="m-widget4__number m--font-accent">
            { WIDGET SCORE, ETC }
          </span>
        </div>
      </div>
      <!-- END widget list item -->
      <!-- BEGIN ***last*** widget list item -->
      <div class="m-widget4__item m-widget4__item--last">
        <div class="m-widget4__ext">
          <a href="#" class="m-widget4__icon m--font-brand">
            <i class="{ WIDGET ICON }"></i>
          </a>
        </div>
        <div class="m-widget4__info">
          <span class="m-widget4__text">
            { WIDGET ITEM NAME }
          </span>
        </div>
        <div class="m-widget4__ext">
          <span class="m-widget4__stats m--font-info">
            <span class="m-widget4__number m--font-accent">
              { WIDGET SCORE, ETC }
            </span>
          </span>
        </div>
      </div>
      <!-- END ***last*** widget list item -->
    </div>
  </div>
</div>