<div class="m-portlet m-portlet--mobile ">
  <div class="m-portlet__head">
    <div class="m-portlet__head-caption">
      <div class="m-portlet__head-title">
        <h3 class="m-portlet__head-text">
          { WIDGET TITLE }
        </h3>
      </div>
    </div>
  <!-- BEGIN widget right -->
  {% include "_x_header_right_dropdown.html" %}
  <!-- END widget right -->
  </div>
  <div class="m-portlet__body">
    <!--begin: Datatable -->
    <div class="m_datatable" id="{ TABLE ID }"></div>
    <!--end: Datatable -->
  </div>
</div>