                <div class="m-portlet m-portlet--full-height ">
                  <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                      <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text">
                          Application Sales
                        </h3>
                      </div>
                    </div>
                    <!-- BEGIN widget header right -->
                    {% include "_x_header_right_dropdown.html" %}
                    <!-- END widget header right -->
                  </div>
                  <!-- BEGIN widget body -->
                  <div class="m-portlet__body">
                    <div class="tab-content">
                      <div class="tab-pane active" id="m_widget11_tab1_content">
                        <div class="m-widget11">
                          <div class="table-responsive">
                            <!-- BEGIN table-->
                            <table class="table">
                              <!-- BEGIN thead-->
                              <thead>
                                <tr>
                                  <td class="m-widget11__{ SLUG 0 }">
                                    { HEADING 0 }
                                  </td>
                                  <td class="m-widget11__{ SLUG 1 }">
                                    { HEADING 1 }
                                  </td>
                                  <td class="m-widget11__{ SLUG 2 }">
                                    { HEADING 2 }
                                  </td>
                                  <td class="m-widget11__{ SLUG 3 }">
                                    { HEADING 3 }
                                  </td>
                                  <td class="m-widget11__{ SLUG 4 }">
                                    { HEADING 4 }
                                  </td>
                                  <td class="m-widget11__{ SLUG 5 } m--align-right">
                                    { HEADING 5 }
                                  </td>
                                </tr>
                              </thead>
                              <!-- END thead-->
                              <!--BEGIN tbody -->
                              <tbody>
                                <tr>
                                  <td>
                                    { ENTRY 0 }
                                  </td>
                                  <td>
                                    { ENTRY 1 }
                                  </td>
                                  <td>
                                    { ENTRY 2 }
                                  </td>
                                  <td>
                                    { ENTRY 3 }
                                  </td>
                                  <td>
                                    { ENTRY 4 }
                                  </td>
                                  <td class="m--align-right m--font-brand">
                                    { ENTRY 5 }
                                  </td>
                                </tr>
                              </tbody>
                              <!-- END tbody-->
                            </table>
                            <!-- END table -->
                          </div>
                          <!-- BEGIN button -->
                          <div class="m-widget11__action m--align-right">
                            <button type="button" class="btn m-btn--pill btn-secondary m-btn m-btn--custom m-btn--hover-brand">
                              { BUTTON TEXT }
                            </button>
                          </div>
                          <!-- END button -->
                        </div>
                      </div>
                    </div>
                  </div>
                </div>