<div class="m-portlet m-portlet--bordered-semi m-portlet--full-height  m-portlet--rounded-force">
  <div class="m-portlet__head m-portlet__head--fit">
    <div class="m-portlet__head-caption">
      <div class="m-portlet__head-action">
        <button type="button" class="btn btn-sm m-btn--pill  btn-brand">
          { WIDGET PILL TEXT }
        </button>
      </div>
    </div>
    <!-- BEGIN widget header right -->
    <!-- END widget header right -->
  </div>
  <div class="m-portlet__body">
    <div class="m-widget19">
      <div class="m-widget19__pic m-portlet-fit--top m-portlet-fit--sides" style="min-height-: 286px">
        <img src="{ WIDGET IMG SOURCE }" alt="">
        <h3 class="m-widget19__title m--font-light">
          { WIDGET TITLE }
        </h3>
        <div class="m-widget19__shadow"></div>
      </div>
      <div class="m-widget19__content">
        <div class="m-widget19__header">
          <div class="m-widget19__user-img">
            <img class="m-widget19__img" src="{ WIDGET AUTHOR IMG SRC }" alt="">
          </div>
          <div class="m-widget19__info">
            <span class="m-widget19__username">
              { WIDGET AUTHOR NAME }
            </span>
            <br>
            <span class="m-widget19__time">
              { WIDGET AUTHOR TITLE }
            </span>
          </div>
          <div class="m-widget19__stats">
            <span class="m-widget19__number m--font-brand">
              { WIDGET # COMMENTS }
            </span>
            <span class="m-widget19__comment">
              Comments
            </span>
          </div>
        </div>
        <div class="m-widget19__body">
          { WIDGET TEXT }
        </div>
      </div>
      <div class="m-widget19__action">
        <button type="button" class="btn m-btn--pill btn-secondary m-btn m-btn--hover-brand m-btn--custom">
          { WIDGET BUTTON TEXT }
        </button>
      </div>
    </div>
  </div>
</div>