<div class="m-portlet  m-portlet--full-height ">
  <div class="m-portlet__head">
    <div class="m-portlet__head-caption">
      <div class="m-portlet__head-title">
        <h3 class="m-portlet__head-text">
          { WIDGET TITLE }
        </h3>
      </div>
    </div>
    <!-- BEGIN widget header right -->
    {% include "_x_header_right_dropdown.html" %}
    <!-- END widget header right -->
  </div>
  <!-- BEGIN widget body -->
  <div class="m-portlet__body">
    <div class="m-scrollable mCustomScrollbar _mCS_5 mCS-autoHide" data-scrollbar-shown="true" data-scrollable="true" data-max-height="380" style="overflow: visible; height: 380px; max-height: 380px; position: relative;">
      <div class="m-timeline-2">
        <div class="m-timeline-2__items  m--padding-top-25 m--padding-bottom-30">
          <div class="m-timeline-2__item">
            <span class="m-timeline-2__item-time">
              { 0:00 }
            </span>
            <div class="m-timeline-2__item-cricle">
              <i class="fa fa-genderless m--font-danger"></i>
            </div>
            <div class="m-timeline-2__item-text  m--padding-top-5">
              { WIDGET ITEM TEXT }
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END widget body -->
</div>