<div class="m-portlet m-portlet--full-height ">
  <div class="m-portlet__head">
    <div class="m-portlet__head-caption">
      <div class="m-portlet__head-title">
        <h3 class="m-portlet__head-text">
          { WIDGET TITLE }
        </h3>
      </div>
    </div>
    <!-- BEGIN widget header right -->
    {% include "_x_header_right_pills.html" %}
    <!-- END widget header right -->
  </div>
  <!-- BEGIN widget body -->
  <div class="m-portlet__body">
    <div class="tab-content">
      <div class="tab-pane active" id="m_widget2_tab1_content">
        <div class="m-timeline-3">
          <div class="m-timeline-3__items">
            <!-- BEGIN widget timeline item -->
            <div class="m-timeline-3__item m-timeline-3__item--info">
              <span class="m-timeline-3__item-time">
                { 0:00 }
              </span>
              <div class="m-timeline-3__item-desc">
                <span class="m-timeline-3__item-text">
                  { WIDGET ITEM TEXT}
                </span>
                <br>
                <span class="m-timeline-3__item-user-name">
                  <a href="#" class="m-link m-link--metal m-timeline-3__item-link">
                    { WIDGET ITEM BYLINE }
                  </a>
                </span>
              </div>
            </div>
            <!-- END widget timeline item -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END widget body -->
</div>